@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.app__card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin-top: 50px;
}

.app__card {
    background-color: #2596be;
    color: #041014;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 30%;
    height: 200px;
    border-radius: 3%;
    margin: 20px;
    font-size: 30px;;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.app__balance-input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 52px;
    width: 50%;
}
app__balance-input :focus {
    outline: none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


hr {
    border-top: 1px solid grey;
    width: 80%;
}

.app__expense-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__expense-button {
    height: 50px;
    width: 50px;
    color: white;
    font-weight: lighter;
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    background-color: blue;
}

.app__modal {
    position: fixed;
    z-index: 999;
    width: 400px;
    height: 250px;
    border-radius: 5%;
    background-color: #eab676;
}

.app__modal p {
    color: red;
    text-align: right;
    padding: 5px;
    font-weight: bolder;
    cursor: pointer;
}

.app__modal-form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.app__modal-form input {
    margin: 10px;
    height: 20px;
    text-decoration: none;
}